<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.user">
    <application>
        <activity
            android:name=".InvestMessageActivity"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".RegiLoginActivity"
            android:theme="@style/TranslucentTheme" />
    </application>

</manifest>